@import "../../../../scss/index.scss";

.posts-list-web {
  margin: 50px 0;

  h1 {
    text-align: center;
    color: $font-light;
    margin: 50px 0;
  }

  .post {
    color: $font-light;
    display: flex;

    &__date {
      display: flex;
      align-items: center;
      flex-direction: column;
      background-color: $primary-color;
      margin-right: 20px;
      border-radius: 5px;
      text-transform: capitalize;
      padding: 5px 15px;
    }

    &__tema{
      margin-top:5px;
      margin-bottom:5px;
      font-weight: bold;
    }

    &__fecha{
      margin-bottom:5px;
      font-size:12px;

    }

    .ant-list-item-meta-title {
      a {
        color: $font-light;
        font-size: 20px;
        &:hover {
          color: $primary-color-dark;
        }
      }
    }

    .ant-list-item-meta-description {
        color: $primary-color;
        font-size: 16px;
    }

    
  }

  .img{
    transition: transform .2s; /* Animation */
  }

  .img:hover {
    transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }
}
