@import "../../../scss/index.scss";

.menu-top-web-mobile{
    position:sticky;
    top: 0;
    background-color:$background-dark-web;
    border:0;
    display:flex;
    align-items:center;
    
    .anticon{
        color:$font-light;
    }

       

    .ant-menu-horizontal, .ant-menu-item::after, .ant-menu-submenu::after {
        border: none !important;
    }

    li{
        border:0 !important;

        a{
            color:#fff !important;
            font-weight:bold;

            &:hover{
                color:$primary-color !important;
            }
        }
    }

    &__logo{
        padding:10px;

        img{
            width:120px;
        }
    }

}

.ant-popover-inner{
    background-color:$background-dark-web;
    color:#fff;

    a{
        color:#fff !important;
        font-weight:bold;

        &:hover{
            color:$primary-color !important;
        }
    }
} 